<div class="jumbotron text-center" ng-if="!main-loggedIn">
	
	<div>
		<h1>if you have balls Sign up !</h1>
	</div>

	<div>
		<p>login to write your own story</p>
		<a href="/login" class="btn btn-primary"> login</a>
	</div>

</div>	

<div class="row" ng-if="main.loggedIn">
	
	<div class="col-md-2" id ="profile-pic">

	</div>

	<div class="col-md-8" ng-controller="StoryController as story">
		<div class="row">
			<div class=" ">
				<div class="panel-heading">Write your Story

					<div class="panel-body">
							<form ng-submit="story.createStory()">
							
								<input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="....." required>
							</form>
					</div>
				</div>
			</div>
		</div>
		<div clas="he" style="font-family: 'Great Vibes', cursive;color:white;"><h1>Your Stories :</h1></div>
			
				<div class="card" ng-repeat="each in story.stories ">
					<p>{{ each.content }}</p>
				</div>
				
		
	

<div class="col-md-3">
		
</div>

</div>	

