<div class="container" ng-controller="mainController as login">
	<div class="row">
	
	<div class="col-sm-6 col-md-4 col-md-offset-4">	
	 <form  class="form-sigin" method="post" ng-submit="login.doLogin()">
		username: <input type = "text" name = "username" class="form-control " ng-model = "login.loginData.username"></input>
		 password:<input type = "password" name = "password" class="form-control " ng-model = "login.loginData.password"></input>

		<button type = "submit" id="submit" class="btn btn-success">login</button>

	</form>
</div>
	</div>

</div>